
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-4" *ngFor="let ad of ApartmentData">
                 
                    <div class="apartmentbox mt-3 mb-3">
                      <img src ="{{ad.apartmentImg}}">
                      <h1>{{ad.apartmentName}}</h1>
                      <p>{{ad.apartmentDetails}}</p>
                        <p>{{ad.apartmentPrice  }}</p>
                        <br>
                        <a class="bookbtn" >Contact Now</a>
                    
        
        
        
        
        
        
                    </div>
                </div>
            </div>
        </div>
        
     

