
<div class="banner">
    <div class="content">
       
        <p class="mb-5"> Students Hostel Accomodation</p>
        
        <a routerLink="apartments">BOOK NOW <i class="bi bi-arrow-right-circle-fill"></i></a>
    </div>   
</div>

<div class="container mt-5 mb-5">
<h1 class="text-center">How To Find <span class="highlight" routerLink="apartments">Your New Home</span> </h1>
<div class="row mt-5">


 <div class="col-lg-4 mt-2">
        <div class="stepbox">
            <h1>Step 1</h1>
            <p>Browse Available Home Listings</p>
        </div>
    </div>

     <div class="col-lg-4 mt-2">
        <div class="stepbox">
            <h1>Step 2</h1>
            <p>Choose your Desired Home</p>
        </div>
    </div>

    <div class="col-lg-4 mt-2">
        <div class="stepbox">
            <h1>Step 3</h1>
            <p>Book Your Home</p>
        </div>
    </div>

    
</div>
</div>
<div class="container-fluid mt-4 mb-4">
    
    <h1 class="text-center">Some of Our <span class="highlight" routerLink="apartments">Available Homes </span> </h1>
    <div class="row">
    
        
    <div class="col-lg-4 " *ngFor="let ad of ApartmentData">
        <div class="apartmentbox mt-3 mb-3"  >
       <img src="{{ad.apartmentImg}}"/>
       <h5>{{ad.apartmentName}}</h5>
       <p>{{ad.apartmentPrice}}</p>

    </div>
    </div>
</div>
<a routerLink="apartments" class="viewmorebtn">View More<i class="bi bi-arrow-right"></i></a>
</div>
