
.banner
{
    background-size: cover;
    background-image: url(../../../../../Desktop/Listingsweb/dylan-vo-eqo9oHrcCl8-unsplash.jpg);
background-position: center ;
height: 600px;

    

}
.content
{
    top: 40%;
    left: 20%;
    position: absolute;
    
}

.banner p
{
    background:linear-gradient(90deg, #ffcc2f, #ef5734);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
   
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.content a
{
    text-decoration:none;
    background-color: white;
    color:#FF8714;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.content a:hover
{
    background-color:#FBBA00;
    color: antiquewhite;
    font-size: 18px;
}
.stepbox
{
    background-color: black;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
   
}
.stepbox h1
{
    background:linear-gradient(90deg, #ffcc2f, #ef5734);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
.stepbox p
{
    color: white;
    font-size: 20px;
    font-style: italic;
}
.highlight
{
    background:linear-gradient(90deg, #ffcc2f, #ef5734);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;

}
.highlight:hover
{
    font-size: 105%;
    
}
.apartmentbox
{
    padding: 10px 5px;

}
.apartmentbox img
{
   width: 100%;
   height: 250px; 
   object-fit: cover;
   border-radius: 5px;
}
.apartmentbox
{
    font-size: 18px;
    margin-top: 20px;
    
}

.h5
{
font-size: 10px;
margin-top: 20px;
font-weight: bold;


}
.viewmorebtn
{
    text-decoration: none;
    background-color: black;

    color: #FF8714;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
}
.viewmorebtn:hover
{
 
    background-color:#FBBA00;
    color: antiquewhite;
    font-size: 18px;
}
