
		<div id="content-container" >
		
			<img src="https://unsplash.com/photos/CbptaPcrFCc" id="samuel_regan_asante_cbptapcrfcc_unsplash_1" />
			<div id="rectangle_1"  ></div>
			<div id="login" >
				Login
			</div>
			<div id="don_t_have_an_account_sign_up" >
				Don't have an account?Sign up
			</div>
			<div id="line_1"  ></div>
			<div id="username" >
				Username
			</div>
			<div id="email" >
				Email
			</div>
			<div id="password" >
				Password
			</div>
			<div id="line_2"  ></div>
			<div id="line_3"  ></div>
			<div id="line_4"  ></div>
			<div id="line_5"  ></div>
			<img src="skins/download_1.png" id="download_1" />
			<div id="rectangle_2"  ></div>
			<div id="login_ek1" >
				Login
			</div>

		</div>
