<div class="banner">



<div class="container">
<div class="row justify-content-center">
<div class="col-md-6 text-center mb-5">

</div>
</div>
<div class="row justify-content-center">
<div class="col-md-6 col-lg-4">
<div class="login-wrap p-0">
<h3 class="mb-4 text-center">Sign Up</h3>


<form  [formGroup]="loginForm">

	<mat-form-field>
		<input matInput placeholder="Email address" formControlName="email" />
	</mat-form-field>

	<mat-form-field>
		<input matInput placeholder="Password" formControlName="password" type="password" />
	</mat-form-field>

	<button mat-raised-button color="primary" type="submit">Login</button>
	<span>New to our platform? <a routerLink="login">Sign Up!</a></span>
	</form>





</div>
</div>
</div>
</div>
</div>


